{
  "presets": ["react-native"],
  "retainLines": true,
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".ios.js", ".android.js"],
      "alias": {
        "screens": "./screens",
        "actions": "./actions",
        "components": "./components",
        "navigators": "./navigators",
        "styles": "./styles",
        "utils": "./utils"
      }
    }]
  ]
}
